<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thesis.loyaltypointapi" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name=".controllers.GetTokenActivity"
            android:label="@string/title_activity_get_token" >
        </activity>
    </application>

</manifest>
